 $formulastocks_blue:	#18aed5;
 $formulastocks_grey:	#49494a;
 $formulastocks_white:	#fafafa;
 $formulastocks_green:	#12d99e;
 $formulastocks_red:	#d9124a;
 
 $formulastocks_blue_hover:		#1ebbe2;
 
 $formulastocks_light_blue:		#78e4ff;
 $formulastocks_light_green:	#2aeab0;
 $formulastocks_light_gray:		#bdbdbd;
 
 $formulastocks_dark_blue:		#0a99bc;
 
 $pricingtable_light_gray:		#f2f2f2;
 $pricingtable_dark_gray:		#ececec;
 $pricingtable_info_text:		#a2a1a1;