/*
 * TABLE OF CONTENTS
 * ------------------
 * #Halis
 * #Lato
 */
/* HALIS FONT WEIGHTS:			LATO FONT WEIGHTS:
 * 100 (Thin)					100 (Hairline)
 * 200 (Extra Light)			200 (Thin)
 * 300 (Light)					300 (Light)
 * 400 (Regular)				400 (Regular)
 * 500 (Book)					500 (Medium)
 * 600 (Medium)					600 (Semibold)
 * 700 (Bold)					700 (Bold)
 * 800 (Black)					800 (Heavy)
 *								900 (Black)
 */
/* #Halis */
@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Book.otf') format('opentype');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal; }

/* #Lato */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-HeavyItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic; }

.clear {
  clear: both; }

.container-fluid {
  padding: 0px; }

#navbar, body {
  background-color: #fafafa; }

.logo {
  display: block;
  height: 30px;
  width: auto;
  margin: 15px auto 0px auto; }

.main {
  background-color: #fafafa; }

.container-fluid {
  overflow-x: hidden; }

.navbar-header {
  background-color: #18aed5;
  padding: 0px; }

.container-fluid .navbar-header .navbar-brand {
  margin: 0 auto;
  text-align: center;
  padding: 15px 0px;
  width: 100%;
  font-family: 'Halis', sans-serif;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 24px;
  font-size: 1.5rem; }

.sidebar-heading {
  padding: 10px 20px; }

.navbar-right {
  display: none; }

.suggestion {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  border-radius: 3px; }

.suggestionTitle {
  padding: 10px 15px;
  border-bottom: 1px solid #e6e6e6; }

.infoBar {
  padding: 5px 15px;
  border-bottom: 1px solid #e6e6e6; }

.suggestion h1 {
  font-family: 'Halis', sans-serif;
  font-weight: 800;
  font-size: 32px;
  font-size: 2rem;
  letter-spacing: -0.05em;
  text-transform: uppercase;
  float: left;
  padding: 0;
  margin: 0;
  margin-top: 5px;
  margin-right: 10px; }

.new, .action, .symbol {
  margin: 0;
  margin-top: 5px;
  display: block;
  padding: 3px 5px;
  background-color: #18aed5;
  color: #fafafa;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: 600;
  float: left;
  border-radius: 3px; }

.action, .symbol {
  font-size: 18px;
  font-size: 1.125rem;
  margin: 0;
  margin-right: 10px; }

.last-updated {
  font-family: 'Lato', sans-serif;
  font-style: italic;
  color: #bdbdbd;
  float: right;
  margin: 0; }

.buy {
  background-color: #18aed5; }

.sell {
  background-color: #d9124a; }

.symbol {
  background-color: #bdbdbd; }

.adv-data-btn {
  background: #18aed5;
  color: #fafafa;
  border: none;
  border-radius: 3px;
  font-family: 'Lato', sans-serif;
  font-size: 22px;
  font-size: 1.375rem;
  padding: 5px 10px;
  float: right;
  outline: none; }

.sidebar {
  background-color: #292933;
  border: none;
  top: 50px; }

.sidebar a {
  color: #70707c;
  font-family: 'Lato', sans-serif; }

.sidebar a:hover {
  background-color: #1e1e28 !important; }

.sidebar-heading {
  color: #4a4a52;
  font-weight: 800;
  text-transform: uppercase; }

.active {
  border-left: 5px solid #18aed5;
  font-weight: 600; }

.nav-sidebar > .active a, .nav > li > a:focus, .nav > li > a:hover, .nav-sidebar > .active > a:hover, .nav-sidebar > .active > a:focus {
  background-color: #1e1e28; }

.ct-chart .ct-series.ct-series-a .ct-slice.ct-donut {
  stroke: #18aed5 !important; }

.ct-chart .ct-series.ct-series-b .ct-slice.ct-donut {
  stroke: #e6e6e6 !important; }

.allocation {
  font-family: 'Halis', sans-serif;
  font-weight: 600;
  color: #18aed5;
  font-size: 26px;
  font-size: 1.625rem; }

.weight {
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  font-size: 18px;
  font-size: 1.125rem; }

.allocation, .weight {
  padding: 0;
  margin: 0;
  text-align: center; }

.suggestionData {
  padding: 0px 15px; }

.pie-chart {
  position: relative;
  width: 125px; }

.chart-data {
  position: absolute;
  top: 55px;
  left: 35px; }

@media (max-width: 768px) {
  .navbar-right {
    display: block;
    width: calc(100% - 50px); }

  .navbar-brand {
    width: calc(100% - 60px) !important; }
 }
