// #Config
$px-only:false;

// #Imports
@import 'fonts.scss';
@import 'reset.scss';
@import 'colors.scss';
@import 'functions.scss';

// #Global
body {
	background-color: $formulastocks_white;
	font-family: Lato;
}

p {
	padding: 5px 0px;
	color: $formulastocks_grey;
}

a {
	outline: none;
}

a:link, a:visited {
	@include fontSize(12px);
	color: $formulastocks_blue;
}

strong {
	font-weight: 700;
}

.flask {
	width: 100px;
	height: auto;
	display: block;
	margin: 0 auto;
}

.clear {
	clear: both;
}

small {
	@include fontSize(11px)
}

// #Forms
fieldset {
	border: none;
}

legend {
	font-weight: 800;
	@include fontSize(20px);
	padding: 20px 0px 10px 0px;
}

form legend, form p, form a {
	text-align: center;
}

form p {
	padding-bottom: 20px;
}

.form-group {
	position: relative;
	border-bottom: 1px solid $formulastocks_grey;
}

.form-group:nth-last-child(2), .form-group:last-child {
	border-bottom: none;
}

.form-group.small {
	width: 140px;
	float: left;
}

label {
	position: absolute;
	top: 22px;
	left: 5px;
	
	@include fontSize(22px);
	@include transition(color 300ms ease);
}

label.subscription {
	color: $formulastocks_green;
}

input.form-control {
	background: none;
	outline: none;
	box-shadow: none;
	border: none;
	
	min-width: 255px;
	padding: 25px 0px 25px 45px;
	
	font-family: 'Lato', sans-serif;
	@include fontSize(14px);
	@include transition(color 300ms ease);
}

input.form-control:focus {
	color: $formulastocks_blue;
}

.labelFocus {
	color: $formulastocks_blue;
}

::-webkit-input-placeholder {
	color: $formulastocks_grey;
}

:-moz-placeholder {
	color: $formulastocks_grey;
}

::-moz-placeholder {
	color: $formulastocks_grey;
}

:-ms-input-placeholder {
	color: $formulastocks_grey;
}

div.button-group a, div.button-group p {
	@include fontSize(14px);
}

div.button-group button[type="submit"] {
	display: block;
	background-color: $formulastocks_green;
	border: none;
	outline: none;
	
	height: 55px;
	width: 300px;
	margin: 10px 0px 20px 0px;
	
	font-family: 'Halis', sans-serif;
	font-weight: 800;
	color: $formulastocks_white;
	text-transform: uppercase;
	
	@include fontSize(20px);
	@include transition(background-color 300ms ease);
}

div.button-group button[type="submit"]:hover {
	background-color: $formulastocks_light_green;
}

.labelError, .inputError {
	color: $formulastocks_red;
}

.inputError::-webkit-input-placeholder {
	color: $formulastocks_red;
}

.inputError:-moz-placeholder {
	color: $formulastocks_red;
}

.inputError::-moz-placeholder {
	color: $formulastocks_red;
}

.inputError:-ms-input-placeholder {
	color: $formulastocks_red;
}

#register .small .sm-input {
	min-width: 95px;
	max-width: 95px;
	width: 95px;
}

#register div.form-group.small.lastname {
	margin-left: 20px !important;
}

#register #lastname {
	padding: 25px 0px 25px 35px;
	min-width: 105px;
	max-width: 105px;
	width: 105px;
}

#register .form-group:nth-last-child(2) {
	border-bottom: 1px solid $formulastocks_grey;
}

#register .form-group:last-child {
	padding-top: 20px;
}

// #Alerts
.alert-danger {
	background-color: $formulastocks_red;
}

.alert-danger p {
	color: $formulastocks_white;
	margin: 0 !important;
	padding: 0 !important;
	display: inline;
}

// #LoginPage
body#login div.container, body#register div.container {
	width: 300px;
	padding: 10px;
	margin: 7% auto;
	color: $formulastocks_grey;
}

#login .alert, #register .alert {
	display: none;
	width: 290px;
	height: 14px;
	padding: 15px 5px;
	text-align: center;
	position: relative;
	@include fontSize(14px);
}

// #RegisterPage
p.subscription {
	display: block;
	padding: 25px 0px 25px 45px;
	text-align: left;
	height: 17px;
}

span.subscription {
	@include fontSize(14px);
	font-weight: 800;
	cursor: pointer;
	// line-height: 60px;
	// padding: 0px 0px 0px 26px;
}

a.edit-sub {
	@include fontSize(14px);
	text-align: right;
	display: block;
	float: right;
}

.subscription_menu {
	display: none;
	width: 255px;
	padding-left: 45px;
}

.option {
	@include fontSize(14px);
	width: 255px;
	padding: 0;
}

.option a {
	text-decoration: none;
	display: block;
	color: $formulastocks_grey;
	height: 35px;
	text-align: left;
	@include transition(color 200ms ease);
}

.option a:hover {
	color: $formulastocks_green;
}

.option.selected a {
	color: $formulastocks_light_gray;
	cursor: default;
}

p.subscription a {
	color: $formulastocks_green;
	@include fontSize(22px);
	position: absolute;
	top: 18px;
	//top: 28px;
	right: 0;
}

/*
.selected::after {
	content: ' Selected';
	font-weight: 400;
	font-style: italic;
	@include fontSize(11px);
}
*/