.pie-chart {
	width	: 100%;
	height	: 300px;
	
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 3s; /* Firefox < 16 */
        -ms-animation: fadein 3s; /* Internet Explorer */
         -o-animation: fadein 3s; /* Opera < 12.1 */
            animation: fadein 3s;
}

.pie-chart-data {
	width: 300px;
	height: 300px;
	position: absolute;
	left: 50%;
	top: 30%;
	margin-left: -150px;
	text-align: center;
}

.allocation {
	font-weight: 900;
	font-size: 58px;
	color: $blue;
	margin-bottom: 0;
	
	-webkit-animation: allocation-fadein-slideup 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: allocation-fadein-slideup 1.5s; /* Firefox < 16 */
        -ms-animation: allocation-fadein-slideup 1.5s; /* Internet Explorer */
         -o-animation: allocation-fadein-slideup 1.5s; /* Opera < 12.1 */
            animation: allocation-fadein-slideup 1.5s;
}

.pie-chart-data .subtext {
	margin-top: -15px;
	text-transform: uppercase;
	
	-webkit-animation: fadein-slideup 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein-slideup 1.5s; /* Firefox < 16 */
        -ms-animation: fadein-slideup 1.5s; /* Internet Explorer */
         -o-animation: fadein-slideup 1.5s; /* Opera < 12.1 */
            animation: fadein-slideup 1.5s;
}

@keyframes fadein-slideup {
    from { opacity: 0; margin-top: 0px; }
    to   { opacity: 1; margin-top: -15px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein-slideup {
    from { opacity: 0; margin-top: 0px; }
    to   { opacity: 1; margin-top: -15px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein-slideup {
    from { opacity: 0; margin-top: 0px; }
    to   { opacity: 1; margin-top: -15px; }
}

/* Internet Explorer */
@-ms-keyframes fadein-slideup {
    from { opacity: 0; margin-top: 0px; }
    to   { opacity: 1; margin-top: -15px; }
}

/* Opera < 12.1 */
@-o-keyframes fadein-slideup {
    from { opacity: 0; margin-top: 0px; }
    to   { opacity: 1; margin-top: -15px; }
}





@keyframes allocation-fadein-slideup {
    from { opacity: 0; margin-top: 30px; }
    to   { opacity: 1; margin-top: 0px; }
}

/* Firefox < 16 */
@-moz-keyframes allocation-fadein-slideup {
    from { opacity: 0; margin-top: 30px; }
    to   { opacity: 1; margin-top: 0px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes allocation-fadein-slideup {
    from { opacity: 0; margin-top: 30px; }
    to   { opacity: 1; margin-top: 0px; }
}

/* Internet Explorer */
@-ms-keyframes allocation-fadein-slideup {
    from { opacity: 0; margin-top: 30px; }
    to   { opacity: 1; margin-top: 0px; }
}

/* Opera < 12.1 */
@-o-keyframes allocation-fadein-slideup {
    from { opacity: 0; margin-top: 30px; }
    to   { opacity: 1; margin-top: 0px; }
}