html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*
 * TABLE OF CONTENTS
 * ------------------
 * #Halis
 * #Lato
 * #Lora
 */
/* HALIS FONT WEIGHTS:			LATO FONT WEIGHTS:			LORA FONT WEIGHTS:
 * 100 (Thin)					100 (Hairline)
 * 200 (Extra Light)			200 (Thin)
 * 300 (Light)					300 (Light)
 * 400 (Regular)				400 (Regular)				400 (Regular)
 * 500 (Book)					500 (Medium)
 * 600 (Medium)					600 (Semibold)
 * 700 (Bold)					700 (Bold)					700 (Bold)
 * 800 (Black)					800 (Heavy)
 *								900 (Black)
 */
/* #Halis */
@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Thin.otf') format('opentype');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-ExtraLight.otf') format('opentype');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Book.otf') format('opentype');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Halis';
  src: url('../fonts/halis/HalisR-Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal; }

/* #Lato */
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Hairline.ttf') format('truetype');
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-HairlineItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Thin.ttf') format('truetype');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-ThinItalic.ttf') format('truetype');
  font-weight: 200;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-HeavyItalic.ttf') format('truetype');
  font-weight: 800;
  font-style: italic; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato/Lato-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic; }

/* #Lora */
@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora/Lora-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora/Lora-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora/Lora-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Lora';
  src: url('../fonts/lora/Lora-BoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic; }

/*
 * COLOR USES
 * ----------
 * 	BLUE:	Used for informational links, buttons, and other branding elements.
 * 	SLATE:	Used for dashboard menu links and subtitles.
 * 	NAVY:	Used for dashboard menu background and hover states.
 * 	BLACK:	Used mostly for headings, body copy and typography in general.
 * 	WHITE:	Used primarily as a background color.
 * 	GRAY:	Used for headings, body copy, muted text, and typography in general, borders, 
 *			background color, and other discreet elements, depending on the shade of gray.
 * 	GREEN:	Used as a call-to-action, representational stock information, and other
 *			essential or positive data.
 */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'Lato', sans-serif; }

hr {
  max-width: 50px;
  border-color: #18AED5;
  border-width: 3px; }

hr.light {
  border-color: #FAFAFA; }

a {
  color: #18AED5;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  -o-transition: all 0.35s;
  transition: all 0.35s; }

a:hover, a:focus {
  color: #19B8E2; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Halis', sans-serif;
  text-transform: uppercase;
  font-weight: 700; }

h2 {
  font-size: 20px; }

h4 {
  margin-top: 55px; }

p {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 1.5;
  color: #49494A; }

b, strong {
  font-weight: 700; }

i, em {
  font-style: italic; }

sup {
  color: #B9B9B9; }

sup, small {
  font-size: 12px; }

.justify {
  text-align: justify;
  padding: 0 8%; }

blockquote {
  padding: 15px 0px; }

blockquote p {
  font-style: italic;
  font-family: 'Lora', serif;
  margin: 0;
  padding: 0; }

.quote {
  color: #B9B9B9;
  font-size: 22px; }

.source {
  color: #A2A1A1; }

.text-muted {
  color: #B9B9B9; }

/* Buttons */
.btn-default {
  border-color: #1599BB;
  color: #FAFAFA !important;
  background-color: #18AED5;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #FAFAFA;
  background-color: #1599BB; }

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
  background-image: none; }

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled.focus, .btn-default[disabled].focus, fieldset[disabled] .btn-default.focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  border-color: #FAFAFA;
  background-color: #FAFAFA; }

.btn-default .badge {
  color: #FAFAFA;
  background-color: #49494A; }

.btn-primary {
  border-color: #1599BB;
  color: #FAFAFA;
  background-color: #18AED5;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s; }

.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  border-color: #1599BB;
  color: #FAFAFA;
  background-color: #1599BB; }

.btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled.focus, .btn-primary[disabled].focus, fieldset[disabled] .btn-primary.focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
  border-color: #B9B9B9;
  background-color: #D3D3D3; }

.btn-primary .badge {
  color: #18AED5;
  background-color: #FAFAFA; }

.btn {
  border: 0;
  border-radius: 3px;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 700; }

.btn-xl {
  padding: 15px 30px;
  width: 300px; }

.btn-xs {
  border: none;
  padding: 5px 10px; }

code {
  font-family: Courier, monospace; }
