@import '../base/colors.scss';
@import '../components/forms.scss';
@import '../components/section.scss';

.section-content {
	padding: 0px 20px;
	padding-top: 20px;
}

.label {
	color: $darkest_gray;
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	padding: 0;
	text-transform: uppercase
}

form.inner-section {
	padding-top: 0px;
}

#current_password {
	margin-top: 10px;
}