<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Application Metadata -->
	<meta chartset="utf-8">
	<meta name="language" content="english">
	<meta name="subject" content="">
	<meta name="description" content="">
	<meta name="subtitle" content="Be on the winning team. Beat the market.">
	<meta name="keywords" content="">
	<meta name="copyright" content="Lyck Invest ApS">
	
	<!-- Credits -->
	<meta name="designer" content="Lindsay Roberts, Lindsay.Roberts@protonmail.com">

	<!-- Apple Meta Tags -->
	<meta name="apple-mobile-web-app-title" content="Formula Stocks">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Internet Explorer Meta Tags -->
	<meta name="application-name" content="Formula Stocks">
	<meta name="msapplication-tooltip" content="Formula Stocks">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="/css/font-awesome.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/css/dashboard.min.css" rel="stylesheet">
	<!-- <link href="/css/account.min.css" rel="stylesheet"> -->

	<!-- jQuery & jQuery UI -->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>

<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">Hello, <%= data.user.firstname %></li>
				<li class="sidebar-heading"><i class="fa fa-flask"></i> Suggestions</li>
				<li><a href="#">Pro Suggestions <span class="sr-only">(current)</span></a></li>
				<% if(data.user.plan == 'premium_monthly' || data.user.plan == 'premium_yearly' || data.user.plan == 'platinum_yearly') { %>
					<li><a href="#">Premium Suggestions</a></li>
				<% } %>
				
				<% if(data.user.plan == 'platinum_yearly') { %>
					<li><a href="#">Platinum Suggestions</a></li>
				<% } %>

				<li class="sidebar-heading"><i class="fa fa-line-chart"></i> Our Portfolios</li>
				<li><a href="#">Pro Portfolio</a></li>
				<% if(data.user.plan == 'premium_monthly' || data.user.plan == 'premium_yearly' || data.user.plan == 'platinum_yearly') { %>
					<li><a href="#">Premium Portfolio</a></li>
				<% } %>
				
				<% if(data.user.plan == 'platinum_yearly') { %>
					<li><a href="#">Platinum Portfolio</a></li>
				<% } %>

				<li class="sidebar-heading"><i class="fa fa-user"></i> <%= data.user.firstname %> <%= data.user.lastname %></li>
				<li><a href="#">Review My Portfolio</a></li>
				<li><a href="#">Manage My Account</a></li>
				<li><a href="/logout">Sign Out</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
			<div class="logo-container">
				<a href="/"><img id="logo" src="/img/logo.svg" alt="Formula Stocks"></a>
			</div>
			
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 section">
						<div class="section-header">
							<div class="left">
								<h1>Nu Skin enterprises</h1>
							</div>
							
							<div class="right">
								<button class="btn-xs btn-primary" data-toggle="collapse" data-target="#advanced_data1">Show Advanced</button>
							</div>

							<div class="clear"></div>
						</div>

						<div class="sub-section">
							<p><i>Last updated 4 days ago.</i></p>
						</div>

						<div class="section-content">
							<p>Content goes here.</p>
						</div>
						
						<div id="advanced_data1" class="collapse section-expansion">
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
							<p>Lots of tests.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->

	<!-- Plugin JavaScript -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Custom JavaScript -->
	<script src="/js/dashboard.min.js"></script>
</body>

</html>