<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Application Metadata -->
	<meta chartset="utf-8">
	<meta name="language" content="english">
	<meta name="subject" content="">
	<meta name="description" content="">
	<meta name="subtitle" content="Be on the winning team. Beat the market.">
	<meta name="keywords" content="">
	<meta name="copyright" content="Lyck Invest ApS">
	
	<!-- Credits -->
	<meta name="designer" content="Lindsay Roberts, Lindsay.Roberts@protonmail.com">

	<!-- Apple Meta Tags -->
	<meta name="apple-mobile-web-app-title" content="Formula Stocks">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Internet Explorer Meta Tags -->
	<meta name="application-name" content="Formula Stocks">
	<meta name="msapplication-tooltip" content="Formula Stocks">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Font Awesome -->
	<link href="/css/font-awesome.min.css" rel="stylesheet">

	<!-- DropZone -->
	<link href="/css/dropzone.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/css/dashboard.min.css" rel="stylesheet">
	<link href="/css/admin.min.css" rel="stylesheet">

	<!-- IE10 Viewport Bug Fix -->
	<script src="/js/ie10-viewport-bug-workaround.js"></script>

	<!-- jQuery & jQuery UI -->
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>

	<!-- DropZone -->
	<script src="/js/dropzone.min.js"></script>
</head>

<body>
	<div id="wrapper">
		<!-- Sidebar -->
		<div id="sidebar-wrapper">
			<ul class="sidebar-nav">
				<li class="sidebar-brand">Hello, <%= data.user.firstname %></li>
				<li class="sidebar-heading"><i class="fa fa-flask"></i> Suggestions</li>
				<li><a href="/suggestions/pro">Pro Suggestions <span class="sr-only">(current)</span></a></li>
				<% if(data.user.plan == 'premium_monthly' || data.user.plan == 'premium_yearly' || data.user.plan == 'platinum_yearly') { %>
					<li><a href="/suggestions/premium">Premium Suggestions</a></li>
				<% } %>
				
				<% if(data.user.plan == 'platinum_yearly') { %>
					<li><a href="/suggestions/platinum">Platinum Suggestions</a></li>
				<% } %>

				<li class="sidebar-heading"><i class="fa fa-line-chart"></i> Our Portfolios</li>
				<li><a href="/portfolio/pro">Pro Portfolio</a></li>
				<% if(data.user.plan == 'premium_monthly' || data.user.plan == 'premium_yearly' || data.user.plan == 'platinum_yearly') { %>
					<li><a href="/portfolio/premium">Premium Portfolio</a></li>
				<% } %>
				
				<% if(data.user.plan == 'platinum_yearly') { %>
					<li><a href="/portfolio/platinum">Platinum Portfolio</a></li>
				<% } %>

				<% if(data.user.type == 2) { %>
					<li class="sidebar-heading"><i class="fa fa-user"></i> Administration</li>
					<li><a href="/admin/upload">Upload JSON Documents</a></li>
				<% } %>

				<li class="sidebar-heading"><i class="fa fa-user"></i> <%= data.user.firstname %> <%= data.user.lastname %></li>
				<li><a href="/portfolio/user">Review My Portfolio</a></li>
				<li><a href="/account">Manage My Account</a></li>
				<li><a href="/logout">Sign Out</a></li>
			</ul>
		</div>
		<!-- /#sidebar-wrapper -->

		<!-- Page Content -->
		<div id="page-content-wrapper">
			<a href="#menu-toggle" class="btn btn-default" id="menu-toggle"><i class="fa fa-bars"></i></a>
			<div class="logo-container">
				<a href="/"><img id="logo" src="/img/logo.svg" alt="Formula Stocks"></a>
			</div>
			
			<div class="container-fluid">
				<div class="row">
					<!-- Insert Views Here -->
					<div class="col-lg-12">
						<div class="section">
							<div class="section-header">
								<div class="left">
									<h1>Upload Documents</h1>
								</div>

								<div class="clear"></div>
							</div>

							<div class="section-content">
								<div id="uploads" class="dropzone">
									<div class="dz-message" data-dz-message><span class="dz-icon"><i class="fa fa-cloud-upload"></i></span><br /><span>Drop your files here</span></div>
								</div>
							</div>

							<div class="section-expansion">
								<div class="inner-section">
									<table class="table table-striped">
										<thead>
											<tr>
												<th>File Name</th>
												<th class="visible-lg">Type</th>
												<th class="visible-lg">Formula</th>
												<th class="visible-lg visible-md">Uploaded</th>
												<th class="hidden-xs">Active</th>
												<th></th>
												<th></th>
											</tr>
										</thead>

										<tbody>
											<tr>
												<td>pro_weekly.json</td>
												<td class="visible-lg">Weekly Suggestion</td>
												<td class="visible-lg">Pro Formula</td>
												<td class="visible-lg visible-md">May 3, 2015</td>
												<td class="hidden-xs">No</td>
												<td><a href="#">Activate</a></td>
												<td><a href="#" class="warning">Delete</a></td> 
											</tr>

											<tr>
												<td>premium_weekly.json</td>
												<td class="visible-lg">Weekly Suggestion</td>
												<td class="visible-lg">Premium Formula</td>
												<td class="visible-lg visible-md">May 3, 2015</td>
												<td class="hidden-xs">No</td>
												<td><a href="#">Activate</a></td>
												<td><a href="#" class="warning">Delete</a></td> 
											</tr>

											<tr>
												<td>platinum_weekly.json</td>
												<td class="visible-lg">Weekly Suggestion</td>
												<td class="visible-lg">Platinum Formula</td>
												<td class="visible-lg visible-md">May 3, 2015</td>
												<td class="hidden-xs">No</td>
												<td><a href="#">Activate</a></td>
												<td><a href="#" class="warning">Delete</a></td> 
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /#page-content-wrapper -->
	</div>
	<!-- /#wrapper -->

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- DropZone -->
	<script src="/js/dropzone.config.js"></script>

	<!-- Custom JavaScript -->
	<script src="/js/dashboard.min.js"></script>
</body>

</html>