<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title %></title>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">

    <!-- Custom CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/portal.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- <script src="//use.fonticons.com/9b071e54.js"></script> -->

    <!-- jQuery & jQuery UI -->
    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="/js/jquery-ui.min.js"></script>
</head>

<body id="register">
<section>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 col-lg-offset-4 col-sm-8 col-sm-offset-2">
				<a href="/"><img src="img/flask.svg" alt="Formula Stocks" class="flask" /></a>

				<form id="signup" class="text-center" action="/register" method="post">
					<h2>Sign Up Today</h2>

					<% for(var i in messages) { %>
						<div class="alert alert-danger">
							<p><strong><i class="fa fa-times-circle"></i> Error!</strong><%= messages[i] %></p>
						</div>
					<% } %>

					<div class="col-lg-6 col-sm-6">
						<div class="form-group">
							<input type="text" id="firstname" name="firstname" class="form-control" placeholder="First name" required="">
							<label for="firstname"><i class="fa fa-user"></i></label>
						</div>
					</div>

					<div class="col-lg-6 col-sm-6">
						<div class="form-group">
							<input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last name" required="">
							<label for="firstname"><i class="fa fa-user"></i></label>
						</div>
					</div>

					<div class="col-lg-12 col-sm-12">
						<div class="form-group">
							<input type="email" id="email" name="email" class="form-control" placeholder="Email address" required="">
							<label for="email"><i class="fa fa-envelope"></i></label>
						</div>
					</div>

					<div class="col-lg-12 col-sm-12">
						<div class="form-group">
							<input type="password" id="password" name="password" class="form-control" placeholder="Password" required="">
							<label for="email"><i class="fa fa-lock"></i></label>
						</div>

						<div class="form-group">
							<input type="password" id="confirm_password" name="confirm_password" class="form-control" placeholder="Confirm password" required="">
							<label for="confirm_password"><i class="fa fa-lock"></i></label>
						</div>
					</div>

					<div class="col-lg-12 col-sm-12">
						<div class="form-group subscription-group">
							<label><i class="fa fa-check"></i></label>
							
							<p class="subscription">
								<span class="current-subscription">
									<% if(locals.subscription) { %>
										<%=subscription.display_name%>
									<% } else { %>
										90 Day Free Trial
									<% } %>
								</span> 
								<a class="edit-sub" href="#">
									<i class="fa fa-sort-desc"></i>
								</a>
							</p>
							<div class="subscription_menu">
								<% if(!locals.subscription) { %>
								<p class="option selected"><a class="option_item" href="trial">90 Day Free Trial</a></p>
								<% } else { %>
								<p class="option"><a class="option_item" href="trial">90 Day Free Trial</a></p>
								<% } %>

								<% if(locals.subscription && locals.subscription.name == 'pro') { %>
									<p class="option selected"><a class="option_item" href="pro">Pro Formula</a></p>
								<% } else { %> 
									<p class="option"><a class="option_item" href="pro">Pro Formula</a></p>
								<% } %>
								
								<% if(locals.subscription && locals.subscription.name == 'premium') { %> 
									<p class="option selected"><a class="option_item" href="premium">Premium Formula</a></p>
								<% } else { %> 
									<p class="option"><a class="option_item" href="premium">Premium Formula</a></p>
								<% } %>
								
								<% if(locals.subscription && locals.subscription.name == 'platinum') {%>
									<p class="option selected"><a class="option_item" href="platinum">Platinum Formula</a></p>
								<%} else {%>
									<p class="option"><a class="option_item" href="platinum">Platinum Formula</a></p>
								<%}%>
								
							</div>
							<input type="hidden">
						</div>
					</div>

					<div class="billing-radio-group">
					
						<div class="col-lg-12 col-sm-12">
							<p class="billing-text">Do you want to make payments on a monthly or yearly billing cycle?</p>
						</div>

						<%
						if(locals.subscription) {
							if(subscription.name == 'platinum') {
								%>
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label class="checkbox-label text-center">
											<input type="radio" id="checkbox_monthly" name="subscription_checkbox" value="monthly" disabled="true" /><span>Monthly Billing</span>
										</label>
									</div><br />
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label class="checkbox-label text-center">
											<input type="radio" id="checkbox_yearly" name="subscription_checkbox" value="yearly" checked="true" /><span>Yearly Billing</span>
										</label>
									</div><br />
								</div>
								<%
							} else {
								%>
								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label class="checkbox-label text-center">
											<input type="radio" id="checkbox_monthly" name="subscription_checkbox" value="monthly" checked="true" /> &nbsp;<span>Monthly Billing</span>
										</label>
									</div><br />
								</div>

								<div class="col-lg-6 col-sm-6">
									<div class="form-group">
										<label class="checkbox-label text-center">
											<input type="radio" id="checkbox_yearly" name="subscription_checkbox" value="yearly" /> &nbsp;<span>Yearly Billing</span>
										</label>
									</div><br />
								</div>
								<%
							}
						} else {
							%>
							<div class="col-lg-6 col-sm-6">
								<div class="form-group">
									<label class="checkbox-label text-center">
										<input type="radio" id="checkbox_monthly" name="subscription_checkbox" value="monthly" disabled="true" /><span>&nbsp;Monthly Billing</span>
									</label>
								</div><br />
							</div>

							<div class="col-lg-6 col-sm-6">
								<div class="form-group">
									<label class="checkbox-label text-center">
										<input type="radio" id="checkbox_yearly" name="subscription_checkbox" value="yearly" disabled="true" /><span>&nbsp;Yearly Billing</span>
									</label>
								</div><br />
							</div>
							<%
						}
						%>
						



					</div>

					<div class="col-lg-12 col-sm-12">
						<p class="total-label show-border">Total Amount Due:<br/> <span class="total">$<span class="amount-due"><%if(locals.subscription){%><%if(subscription.name=='platinum'){%>20,000.00<%}else{%><%=subscription.price.monthly%>.00<%}}else{%>0.00<%}%>
						</span></span></p>
					</div>

					<p class="agreement">By creating an account, you agree to Formula Stock's <a href="#">Terms &amp; Conditions</a>.</p>
					
					<% if(locals.subscription) {%>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Next</button>
					<% } else { %>
						<button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
					<% } %>
					

					<p>Already have an account? <a href="/login">Sign in.</a></p>
				</form>
			</div>
		</div>
	</div>
</section>

	<!-- Main JavaScript -->
	<!-- <script src="/js/main.min.js"></script> -->
	<script src="/js/forms.min.js"></script>
</body>

</html>