<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%=title %></title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link href="/css/theme.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/main.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="//use.fonticons.com/9b071e54.js"></script>
</head>

<body>
    <!-- Navigation -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><i class="icon icon-formula-stocks-logo icon"></i> Formula Stocks</a>
        </div>

        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">About Us</a><li>
            	<li><a href="#">Contact</a></li>
            	<li><a href="/login">Sign In</a></li>
            	<li class="active"><a href="/register">Register</a></li>
            </ul>
            <!-- <form class="navbar-form navbar-left">
                <input type="text" class="form-control col-lg-8" ng-model="asset" placeholder="Search">
            </form> -->
        </div>
    </div>


    <div class="container">
    	<div class="row">
    		<div class="col-md-6 col-md-offset-3">
	    	
    		<div class="well">
    			<% for(var i in messages) { %>
					<div class="alert alert-dismissable alert-danger">
						<button type="button" class="close" data-dismiss="alert">×</button>
						<strong><i class="fa fa-exclamation-circle"></i> Registration Error!</strong> <%= messages[i] %>
					</div>
				<% } %>
		      	<form class="form-horizontal" action="/register" method="post">
		      		<fieldset>
		      			<legend>Register An Account</legend>
		      			<div class="form-group">
			      			<label for="name" class="col-lg-4 control-label">Your Name</label>
			      			<div class="col-lg-8">
			      				<input type="text" class="form-control" id="name" name="name" placeholder="First and Last" required autofocus>
			      			</div>
		      			</div>

		      			<div class="form-group">
		      				<label for="email" class="col-lg-4 control-label">E-mail</label>
		      				<div class="col-lg-8">
		      					<input type="email" class="form-control" id="email" name="email" placeholder="E-mail" required>
		      				</div>
		      			</div>

		      			<div class="form-group">
		      				<label for="username" class="col-lg-4 control-label">Username</label>
		      				<div class="col-lg-8">
		      					<input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
		      				</div>
		      			</div>

		      			<div class="form-group">
		      				<label for="password" class="col-lg-4 control-label">Password</label>
		      				<div class="col-lg-8">
		      					<input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
		      				</div>
		      			</div>

		      			<div class="form-group">
		      				<label for="investment_capital" class="col-lg-4 control-label">Investment Capital</label>
		      				<div class="col-lg-8">
		      					<div class="input-group">
			      					<span class="input-group-addon">$</span>
			      					<input type="text" class="form-control" id="investment_capital" name="investment_capital" placeholder="0.00" required>
		      					</div>
		      				</div>
		      			</div>

						<div class="form-group">
							<div class="col-lg-8 col-lg-offset-5">
								<a href="/login">Already have an account?</a>
								<button type="submit" id="loginButton" class="btn btn-success">Register!</button>
							</div>
						</div>
		      		</fieldset>
		      	</form>
		    </div>
		    </div>
      	</div>
    </div>
    <!-- /.container -->

    <!-- jQuery Version 1.11.1 -->
    <script src="/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>